.container {
  margin-top: 0;
  margin-bottom: 75px;
}

.title {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.01em;
}

.video {
  width: 90%;
  height: auto;
}

.coreImage {
  width: 450px;
  height: auto;
}

@media (min-width: 600px) {
  .container {
    margin-top: 100px;
    margin-bottom: 120px;
  }

  .title {
    font-size: 60px;
    line-height: 60px;
  }

  .video {
    width: 400px;
    margin-left: 100px;
    height: auto;
  }
}
